.cart_detail{
    width: 100%;
}
.header-cart{
    background-color: #fff;
}
.header-cart .left-header .container-vertical{
    width: 2px;
    height: 40px;
    background-color: #ee4d2d;
    margin: 25px;
}
.header-cart .left-header .title-header{
    padding: 25px 0;
}
.header-cart .search-product{
    margin-top: 30px;
    width: 90%;
    border: 2px solid #ee4d2d;
}
.header-cart .search-product .input-search{
    width: 90%;
}
.header-cart .search-product .input-search input{
    display: inline-block;
    width: 100%;
    border: none;
}
.header-cart .search-product .btn-search__product{
    background-color: #ee4d2d;
    padding: 0 20px;
}
.search-product .btn-search__product .btn-search{
    color: #fff;
}
.container-inf-cart__detail{
    background-color: #F5F5F5;
    margin-top: 30px;
    overflow: hidden; 
}
.content-cart__detail .list-product{
    margin-bottom: 150px;
}
.content-cart__detail .list-product .item-product .container-left{
    height: 100%;
    align-items: center;
    display: flex;
}
.content-cart__detail .list-product .item-product{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.content-cart__detail .list-product .item-product .img-product{
    object-fit:cover;   
}
.content-cart__detail .list-product .item-product .checkbox{
}
.container-full .container-left .container-checkbox{
    padding: 0;
}
.list-product .item-product .container-bottom{
   margin-top: 10%;
   padding: 15px 0;
}
.item-product .text-product .product-type{
    width: 30%;
    margin-top: 15px;
}
.item-product .text-product .product-type .form-select{
    background-color: #ccc;
    padding: 2px 5px;
}
.item-product .container-bottom .text-price{
    font-size: 20px;
    color: #ee4d2d;
}
.list-product .item-product .quantity-product .btn-input__quantity{
    margin-left: 10px;

}
.list-product .item-product .quantity-product .btn-quantity{
    font-size: 20px;
    border: 1px solid  #e9e0e2;
    display: block;
    padding: 0 15px;
    background-color: #fff;
    
}
.list-product .item-product .quantity-product .show-quantity input{
    text-align: center;
    padding: 7px 0;
    width: 60px;
    border: 1px solid  #e9e0e2;
}

.container-inf-cart__detail .inf-cart__detail .content-cart__detail{
    background-color: #fff;
    margin-top: 10px;
    padding-bottom: 500px;
    padding: 20px;
    margin-bottom: 50px;
}


.container-full{
    width: 100%;
}
.container-full .container-left .text-all{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}
.container-full .container-left{
    padding: 20px 0;
}
.container-btn__buy{
    width: 100%;
    position:fixed;
    bottom: 0;
    background-color: #fff;
    padding: 2px 0;
    z-index: 99;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.right-container-btn__buy .total__payment .text-sum_price{
    font-size: 30px;
}
.right-container-btn__buy .total__payment .text-total__payment{
    font-size: 30px;
}
.container-btn__buy .right-container-btn__buy{
    right: 0;
    padding: 10px;
}

.right-container-btn__buy .total__payment .text-sum_price{
    color: #ee4d2d;
    padding: 0 5px;
}
.right-container-btn__buy .total__payment .btn-buy{
    padding: 10px 30px;
    width: 300px;
    background-color: #ee4d2d;
    color: #fff;
   
}
.right-container-btn__buy .text-container-btn__buy{
    padding: 5px 10px;
  
}

.right-container-btn__buy .total__payment .btn-buy:hover{
    opacity: 0.7;
}
.right-container-btn__buy .container-total__payment{
    padding: 0;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .header-cart{
        height: 50px;
    }
    .cart_detail .header-cart .search-product{
        display: none !important;
    }
    .container-btn__buy{
        width: 100%;
    }
    .right-container-btn__buy .text-container-btn__buy h5{
        font-size: 18px;
    }
    .right-container-btn__buy .text-container-btn__buy{
        padding: 5px;
    }
    
    .item-product .text-product .text-name__product{
        font-size: 15px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-width: 200px;
    }
    .item-product .text-product .product-type .form-select{
        font-size: 15px;
        height: 25px;
    }
    .item-product .container-bottom .text-price{
        font-size: 15px;
    }
    .list-product .item-product .quantity-product .btn-input__quantity{
        margin-left: 10px;
        margin-top: 2px;
    }
    .list-product .item-product .quantity-product .btn-quantity{
        font-size: 13px;
        border: 1px solid  #e9e0e2;
        display: block;
        padding: 3px 15px;
        height: 30px;
        background-color: #fff;
       
        
    }
    .list-product .item-product .quantity-product .show-quantity input{
        text-align: center;
        padding: 7px 0;
        width: 40px;
        height: 30px;
        border-radius: 0;
        border: 1px solid  #e9e0e2;
    }
    .right-container-btn__buy .text-container-btn__buy h5{
        font-size: 12px;
    }
    .right-container-btn__buy .total__payment .btn-buy{
        font-size: 18px;
        padding: 2px;
        height: 40px;
        margin-top: 10px;
    }
    .container-full .container-left{
     
    }
    .list-product .item-product .container-bottom{
        margin-top: 5%;
        padding: 5px 0;
     }
    .container-full .container-left .text-all{
        font-size: 20px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .content-cart__detail .list-product {
        margin-bottom: 150px;
    }
    .item-product .text-product .product-type{
        width: 75%;
        margin-top: 5px;
    }
    .right-container-btn__buy .total__payment .text-sum_price{
        margin-top: 10px;
        font-size: 20px;
        padding: 0;
    }
    .right-container-btn__buy .total__payment .text-total__payment{
        font-size: 20px;
        padding: 9px 0;
    }
    .right-container-btn__buy .total__payment .btn-buy{
        width: 190px; 
    }
}
